/* STYLING RULES */


* {
    padding: 0; 
    margin:0; 
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

.wrap {
    display: grid;
    grid-template-rows: 1fr repeat(2, 5fr) 1fr; 
}

