/* STYLING RULES */

/* GENERAL RULES */
* {
    padding: 0; 
    margin:0; 
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Make main container grid */
.wrap {
    display: grid;
    grid-template-rows: 1fr repeat(2, 5fr) 1fr; 
}

.lf_pd {
    padding-left: 3rem;
}


/* TOP SECTION */

.top_section {
    background-color: #b3d8a8
}


header {
    display: grid; 
    grid-template-columns: 3fr 1fr;
    gap: 5rem;
    height: 100%;
    align-items: center;
}

.h_link {
    font-family: 'Segoe UI',sans-serif;
}

.left_h_links {
    display: flex;
    gap: 2rem; 
}

.right_h_links {
    display: flex;
    justify-content: space-around;
}


/* Links color & weight */
a {
    color: #3D8D7A;
    font-weight: 550;
}

/* Remove the formating of the email link */
a[href^="mailto"] {
    text-decoration: none;
}

.main_btn {
    width: 150px;
    height: 40px;
    border-radius: 0; 
    border: 2px solid #3D8D7A;
    background-color: inherit; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid #3D8D7A;
    border-right: 4px solid #3D8D7A;   
    cursor: pointer;
}

.main_btn a {
    text-decoration: none;
}

.main_btn:hover, a:hover {
    color: #fbffe4;
    background-color: #A3D1C6;
}

/* HERO SECTION */
.hero_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FBFFE4;
    color: #243642;
}

.hero_lf {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.hero_rt {
    display: flex ;
    justify-content: center;
}

img {
    height: 500px;
}

.hero_lf p:nth-child(1) {
    padding-bottom: 1rem;
}

p span {
    margin-left: 11rem;
}

.hero_lf h1 {
    padding-bottom: 0.25rem; 
    font-size: 60px;
    font-family: 
}

.hero_lf h3 {
    margin-bottom: 4rem;
}


/* PROJECT SECTION */
.project_section {
}

.project_section h1 {
    text-align: center;
    padding-top: 1rem;
}
